<html>
    <head>
        <title>
            <%= title %>
        </title>

        <style>
            body{
                margin:0;
                background-color:rgb(53, 157, 175);
                font-size: 2.5rem;

            }

        </style>

    </head>

    <body>
        <h1> Welcome to the App page of <%= title %></h1>


    </body>
</html>