<html>
    <head>
        <title>
            <%= title %>
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href ="/css/signup.css">

    </head>

    <body>
        <header>
            <div class="header">
                <img class = "logo" src ="/images/logo.png">
                <!-- <a href="/images/logo.png" class="logo">PriorityNest</a> -->
                <div class="header-right">
                    <a class="" href="/">Home</a>
                    <a class="" href="app">App</a>
                    <a href="login">Login</a>
                    <a href="signup">signup</a>
                </div>
                </div>
        </header>

        <section>
            <!-- <div >
                <h1 class ="section-header">Prioritize your daily Tasks with PriorityNest </h1>
                <div class="container">
                    <img src="/images/body-pic2.jpg">
                    <a href ="app">
                        <button  class="btn">Go to the App</button>
                    </a>
                    
                  </div>
               
                
              </div> -->

              <h2 class="section-header"> Signup page is under construction . <br>please bear with us ! </h2>

        </section>

        <footer class="foot">
            <h1 class= "foot-header">Contact us </h1>

            <div class ="forms">
                <form> 
                    
                    <input type ="text " placeholder="Your Name"><br>
                    
                    <input type ="Email " placeholder="xyz@gmail.com "><br>
                    
                    <input type ="text " placeholder="Message" id ="msg"><br>
                    <button type ="submit"> SEND MESSAGE </button>

                </form>
                
            </div>

        </footer>
        

    </body>
</html>