:root {
  --personal: green;
  --home: blue;
  --others: magenta;

}


.header {
  overflow: hidden;
  background-color: #f1f1f1;
  /* padding: 20px 10px; */
}

.header a {
  float: left;
  color: dodgerblue;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}



.logo {
  /* font-size: 25px; */
  /* border:2px solid red; */
  size:40px;
 
  
} 
.header img{
    margin:0;
    height:150px;
    width:150px;
}

.header a:hover {
  background-color: rgba(179, 69, 25, 0.87);;
  color: black;
}



.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.section-header{
  font-size:3.5rem;
  color:#1e6b87;
  text-align:center;
  padding-top:20px;
  padding-bottom:20px;
}

/* header section styling ends here  */

/* task detailer section  */
.task-details{
    display:inline-block;
    width:39%;
    /* height:100vh; */
    /* border:2px solid red; */
}

.task-details input {
    width:100%;
    /* height:50px;  */
    margin-bottom:30px;
    /* border:1px solid blue; */
 }  

 .task-details select {
  width:100%;

  margin-bottom:30px;
  
  border:none;
    outline:none;
 
    padding-top:10px;
    /* border-bottom: 1px solid grey; */
} 
.task-details input{
    width:100%;
    border:none;
    outline:none;
  
    padding-top:10px;
    
 
}


#date{
    width:40%;

}
#category{
    width: 40%;
}


form{
  padding:10px;
}
form label{
  font-family: sans-serif;
  font-size:1em;
  color:#1e6b87;
  padding-top:5px;
}
form div{
  border-top: 1px solid grey;
  padding-top:5px;
  
}

form span {
  padding-left:35%;
  padding-top:10px;

}
form span button {
  background-color:#05679c;
  border-radius: 2%;
  color:palegoldenrod;
}


/* task section */
.task{
    /* display:inline-block; */
    width:60%;
    /* height:100vh; */
    min-height:50vh;
    border-left:2px solid darkgrey;
    float:right;
}
.task_category{
  float:right;
  border:1px solid ;
  background-color:lightblue;
  padding:10px;
  /* border:8px; */
  border-radius: 5%;
  /* border-left:70%; */
  /* border:1px solid red; */
  width:70px;
  text-align: center;
}

.task_description{
  font-family: sans-serif;
  font-size:1.2em;
  color:#1e6b87;
  padding-left:4px;
  /* border:1px solid red; */
  overflow: hidden;
}

/* .task_description label{
  padding-left:5px;
} */

.task_date{
  font: 1em sans-serif;
  padding-left:7px;
  color:#1e6b87;
  /* border:1px solid red; */
}
#calender-icon{
  padding-left:7px;
  color:grey;
  /* border:1px solid red; */
}
.task_div{
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}

li{
  list-style-type: none;
}

/* delete-task */

.delete-task{
  display: inline-block;
  padding-left:40%;
  height:10px;
}


.del-btn{
  display:block;
  background-color:#05679c;
  border-radius: 2%;
  color:palegoldenrod;
}


.delete-task a {
  text-decoration:none;
}

/* a{
  text-decoration:none;
} */


input:checked {
  /* background: #F9F9F9; */
  text-decoration: line-through;
}